<footer>

  <div class="row">

    <div class="col-4" style="overflow: hidden;">
      <a href="#" class="logoArgFooter">
        <img
          src="https://desa.argentinaprograma.inti.gob.ar/pluginfile.php/1/theme_moove/logo/1674860780/APLogo-20-20.png"
          height="80" width="130">
      </a>
    </div>

    <div class="col-8">
      <ul style="width: 500;">
        <li class="navLi"><a href="#" class="buttonNavRedes"><img
              src="https://cdn-icons-png.flaticon.com/512/5968/5968534.png" height="30" width="30"></a>
        </li>
        <li class="navLi"><a href="https://www.linkedin.com/in/martin-gagliardi-8180bb211/" class="buttonNavRedes"><img
              src="https://cdn-icons-png.flaticon.com/512/174/174857.png" height="30" width="30"></a>
        </li>
        <li class="navLi"><a href="https://github.com/Martin011001" class="buttonNavRedes"><img
              src="https://cdn-icons-png.flaticon.com/512/3291/3291667.png" height="35" width="35"></a>
        </li>
      </ul>
    </div>
  </div>

</footer>