<div class="row menuOpciones">

  <div class="col-11">

    <div class="row">
      <div class="col-2">
        <img src="https://cdn-icons-png.flaticon.com/512/4675/4675164.png" height="20" width="20" class="iconosBarra">
      </div>

      <div class="col-10">
        <div class="d-grid gap-2 col-14 mx-auto" style="margin-top: 15px;">

          <button routerLink="/Sobre-Mi" aria-current="page" class="btn btn-primary buttonBarra"
            type="button">Inicio</button>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-2">
        <img src="https://cdn-icons-png.flaticon.com/512/6964/6964169.png" height="20" width="20" class="iconosBarra">
      </div>

      <div class="col-10">
        <div class="d-grid gap-2 col-14 mx-auto" style="margin-top: 15px;">
          <button routerLink="/Experiencia" aria-current="page" class="btn btn-primary buttonBarra"
            type="button">Experiencia</button>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-2">
        <img src="https://cdn-icons-png.flaticon.com/512/7576/7576673.png" height="23" width="23" class="iconosBarra">
      </div>

      <div class="col-10">
        <div class="d-grid gap-2 col-14 mx-auto" style="margin-top: 15px;">
          <button routerLink="/Conocimientos" aria-current="page" class="btn btn-primary buttonBarra"
            type="button">Conocimiento</button>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-2">
        <img src="https://cdn-icons-png.flaticon.com/512/4675/4675164.png" height="20" width="20" class="iconosBarra">
      </div>

      <div class="col-10">
        <div class="d-grid gap-2 col-14 mx-auto" style="margin-top: 15px;">

          <button routerLink="/Experiencia" aria-current="page" class="btn btn-primary buttonBarra"
            type="button">Curriculum</button>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-2">
        <img src="https://cdn-icons-png.flaticon.com/512/4675/4675164.png" height="20" width="20" class="iconosBarra">
      </div>

      <div class="col-10">
        <div class="d-grid gap-2 col-14 mx-auto" style="margin-top: 15px;">
          <button routerLink="/Contacto" aria-current="page" class="btn btn-primary buttonBarra"
            type="button">Contacto</button>
        </div>
      </div>
    </div>

  </div>
</div>