<div class="row menuOpciones" [ngClass]="{ 'fixed': isFixed }" (scroll)="onScroll($event)">

  <div class="col-12" style="padding: 0;">

    <div class="row">


      <div class="col-12">

        <div class="d-grid gap-2 col-25 mx-auto" style="margin-top: 15px;">

          <button routerLink="/Sobre-Mi" aria-current="page" class="ov-btn-slide-left"
            type="button">Inicio</button>
            
        </div>
      </div>
    </div>

    <div class="row">

      <div class="col-12">
        <div class="d-grid gap-2 col-14 mx-auto" style="margin-top: 15px;">
          <button routerLink="/Experiencia" aria-current="page" class="ov-btn-slide-left"
            type="button">Experiencia</button>
        </div>
      </div>

    </div>

    <div class="row">
    
      <div class="col-12">
        <div class="d-grid gap-2 col-14 mx-auto" style="margin-top: 15px;">
          <button routerLink="/Conocimientos" aria-current="page" class="ov-btn-slide-left"
            type="button">Conocimiento</button>
        </div>
      </div>

    </div>

    <div class="row">

      <div class="col-12">
        <div class="d-grid gap-2 col-14 mx-auto" style="margin-top: 15px;">

          <button routerLink="/Educacion" aria-current="page" class="ov-btn-slide-left"
            type="button">Educacion</button>
        </div>
      </div>

    </div>

    <div class="row">
    
      <div class="col-12">
        <div class="d-grid gap-2 col-14 mx-auto" style="margin-top: 15px;">
          <button routerLink="/Proyectos" aria-current="page" class="ov-btn-slide-left"
            type="button">Proyectos</button>
        </div>
      </div>

    </div>

    <div class="row">

      <div class="col-12">
        <div class="d-grid gap-2 col-14 mx-auto" style="margin-top: 15px; margin-bottom: 15px;">
          <button routerLink="/Contacto" aria-current="page" class="ov-btn-slide-left"
            type="button">Contacto</button>
        </div>
      </div>

    </div>
  </div>
</div>