<div class="container tarjeta">

    <div class="row">

        <div class="col-11" style="margin-bottom: 30px;">
            <h3>Experiencia Laboral</h3>
        </div>

        <div class="col-1 paddingCero">
            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor"
                class="bi bi-plus-circle botonEdit" viewBox="0 0 16 16" style="cursor: pointer; margin-right: 10px;" (click)="editForm()">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                <path
                    d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
            </svg>
        </div>

        <!--------------- tarjeta agregarItem -------------------->

        <div class="tarjetaExpe" *ngIf="botonEdit">

            <div class="row">
                <div class="col-6" style="padding-right: 5px;">
                    <h5 style="margin-bottom: 10px;">Agerga una nueva experiencia</h5>

                    <input type="text" class="form-control inputEdicion" placeholder="Ingresa la experiencia"
                        style="margin-bottom: 16px;" [(ngModel)]="descripcion">

                    <div class="input-group mb-3">
                        <input type="text" class="form-control inputEdicion"
                            placeholder="✳ Ingresar Puestos y Actividades" aria-label="Ingresar Puestos y Actividades"
                            aria-describedby="button-addon2" [(ngModel)]="puestoTexto">
                        <button class="btn btn-primary buttonSesion" type="button" id="button-addon2"
                            (click)="agregarPuesto()">💼 Add</button>
                    </div>

                    <div class="input-group mb-3">
                        <input type="text" class="form-control inputEdicion" placeholder="Adjunta una imagen"
                            aria-label="Ingresar Herramientas" aria-describedby="button-addon2" [(ngModel)]="imgTrabajo">
                        <button class="btn btn-primary buttonSesion" type="button" id="button-addon2">📷 Image</button>
                    </div>

                    <div class="row">
                        <div class="col-6">
                            <h6 style="margin-left: 5px;">💼 Puesto y actividad:
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-x-lg" viewBox="0 0 16 16" style="cursor: pointer;"
                                    (click)="borrarPuesto()">
                                    <path
                                        d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z" />
                                </svg>
                            </h6>
                            <div *ngFor="let puesto of puestos" style="margin-left: 12px;">
                                {{'✳ ' + puesto }}
                            </div>
                        </div>

                        <div class="col-6">
                            <h6 style="margin-left: 5px;">🔧 Herramientas:
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-x-lg" viewBox="0 0 16 16" style="cursor: pointer;"
                                    (click)="borrarHerramienta()">
                                    <path
                                        d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z" />
                                </svg>
                            </h6>
                            <div *ngFor="let herra of herramientas" style="margin-left: 12px;">
                                {{'✳ ' + herra }}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-6" style="padding-left: 5px;">
                    <div class="row">
                        <div class="col-6 filaFechas" style="padding-right: 5px;">
                            <h6 style="margin-left: 8px;">Inicio</h6>
                            <input type="date" class="form-control inputEdicion titulofecha"
                                placeholder="Ingresa la Fecha de Inicio" [(ngModel)]="inicio">
                        </div>
                        <div class="col-6 filaFechas" style="padding-left: 5px;">
                            <h6 style="margin-left: 8px;">Fin</h6>
                            <input type="date" class="form-control inputEdicion titulofecha"
                                placeholder="Ingresa la Fecha de Fin" [(ngModel)]="fin">
                        </div>
                    </div>

                    <div class="input-group mb-3" style="margin-top: 16px;">
                        <input type="text" class="form-control inputEdicion" placeholder="✳ Ingresar Herramientas"
                            aria-label="Ingresar Herramientas" aria-describedby="button-addon2"
                            [(ngModel)]="herraTexto">
                        <button class="btn btn-primary buttonSesion" type="button" id="button-addon2"
                            (click)="agregarHerramienta()">🔧 Add</button>
                    </div>

                    <button class="btn btn-primary buttonSesion" style="float: right;" type="button"
                        id="button-addon2"(click)="agregarExperiencia()">Agregar Experiencia</button>

                </div>
            </div>
        </div>

    </div>

    <!--------------------------------------------->


    <app-item-laboral *ngFor="let expe of experiencia" [itemExpe]="expe" (capturarIdHijo)="capturarId($event)"></app-item-laboral>

</div>