.botonFlitro{
    border: solid 2px #1c3cbe; 
    border-radius: 22px;  
    display:table;
    float: left;
    padding-left: 6px;
    padding-right: 8px;
    padding-top: 2px;
    margin-right: 10px;
}

.tjtConociminto{
    margin-top: 150px;
  }