<div class="row tarjeta">

    <div class="col-11">
        <h4>Conocimientos</h4>
    </div>

    <div class="col-1">
        <a class="botonEditar" style="float: right;"><img src="https://cdn-icons-png.flaticon.com/512/84/84380.png"
                height="25" width="25"></a>
    </div>

    <div class="row">

        <div class="col-12" style="margin-top: 20px; margin-bottom: 10px; padding: 0px;">

            <div class="botonFlitro">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" 
                    [(ngModel)]="lenguajes" checked>
                    <label class="form-check-label" for="flexSwitchCheckChecked">Lenguajes</label>
                </div>
            </div>

            <div class="botonFlitro">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" 
                    [(ngModel)]="habilidadesBlandas" checked>
                    <label class="form-check-label" for="flexSwitchCheckChecked">Habilidades</label>
                </div>
            </div>

            <div class="botonFlitro">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" 
                    [(ngModel)]="frameworks" checked>
                    <label class="form-check-label" for="flexSwitchCheckChecked">Frameworks</label>
                </div>
            </div>
        </div>

    </div>


    <app-item-conocimiento *ngFor="let item of filtro()" [itemConocimiento]="item" (idConocimiento)="capturarId($event)" (objetoEdit)="editarConocimiento($event)"></app-item-conocimiento>
</div>