<div class="row tarjeta" style="margin-top: 10px;">
    <h3>Contacto</h3>

    <div class="col-6 form-floating mb-3">
        <input type="email" class="form-control inputContacto" placeholder="name@example.com">
        <label class="lavelContacto">Nombre</label>
    </div>

    <div class="col-6 form-floating mb-3">
        <input type="email" class="form-control inputContacto" placeholder="name@example.com">
        <label class="lavelContacto">Apellido</label>
    </div>


    <div class="form-floating mb-3">
        <input type="email" class="form-control inputContacto" placeholder="name@example.com">
        <label class="lavelContacto">Asunto</label>
    </div>

    <div class="form-floating mb-3">
        <textarea class="form-control inputContacto" placeholder="Leave a comment here" style="height: 100px"></textarea>
        <label class="lavelContacto">Mensaje</label>
    </div>

    <div class="form-floating">
        <select class="form-select inputContacto" aria-label="Floating label select example" style="color: black;">
            <option selected>Desplegar Menu</option>
            <option value="1">Full time</option>
            <option value="2">Part-time</option>
            <option value="3">Free Lance</option>
        </select>
        <label class="lavelContacto">Horario laboral</label>
    </div>

    <div style="margin-top: 20px;">
        <button routerLink="/Contacto" aria-current="page" class="btn btn-primary buttonSesion"
          type="button">Enviar</button>
    </div>

</div>