<header>

    <div class="fondoEncabezado">

        <div class="columnaFotoPerfil">
            <img class="imgRedonda" [src]="miPorfolio.encabezado.perfilImage">
        </div>

    </div>

    <div class="row">

        <div class="col-12" style="padding: 20px;">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="white" class="bi bi-plus-lg"
                viewBox="0 0 16 16" style="float: right; cursor: pointer;">
                <path fill-rule="evenodd"
                    d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z" />
            </svg>
        </div>

        <div class="row">
            <div class="col-5 floatPiso">
                <h1>{{miPorfolio.encabezado.name}}</h1><br>
                <h5>{{miPorfolio.encabezado.descripcionUno}}</h5>
                <h6 style="font-weight: 250;">{{miPorfolio.encabezado.descripcionDos}}</h6>
            </div>

            <div class="col-4 floatPiso" style="padding-right: 25px;">

                <h4 style="margin-bottom: 0; padding-top: 10px;">Intereses</h4>

                <button *ngFor="let item of miPorfolio.encabezado.intereses"
                    class="btn btn-primary buttonSesion interesesheader" type="submit">{{item}}</button>

            </div>

            <div class="col-3 floatPiso">
                <ul class="articuloHeader">

                    <h4 style="margin-bottom: 0; padding-top: 10px;">Actalmente en</h4>
                    <li *ngFor="let item of miPorfolio.encabezado.articulos" style="padding-left: 8px;">
                        <h6 class="" style="margin-top: 4px;"><img [src]="item.logo" height="40" width="40"
                                class="imgRedondaActual">{{item.articulo}}</h6>
                    </li>

                </ul>
            </div>
        </div>

    </div>


</header>