<div class="container tarjeta">

    <div class="row">
        <div class="col-11" style="margin-bottom: 30px;">
            <h3>Educacion</h3>
        </div>

        <div class="col-1 paddingCero">
            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor"
                class="bi bi-plus-circle botonEdit" viewBox="0 0 16 16" style="cursor: pointer; margin-right: 9px;"
                (click)="editForm()">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                <path
                    d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
            </svg>
        </div>
    </div>

    <!--------------- tarjeta agregarItem -------------------->

    <div class="tarjetaExpe" style="padding-bottom: 20px;" *ngIf="botonEdit">
        <div class="row">
            <div class="col-6" style="padding-right: 5px;">
                <h5 style="margin-bottom: 10px;">Agerga una nueva Educación</h5>
                <input type="text" class="form-control inputEdicion" placeholder="Ingresa una descripcion"
                    style="margin-bottom: 16px;" [(ngModel)]="descripcion">

                <input type="text" class="form-control inputEdicion" placeholder="✳ Ingresa la Carrera" name="carrera"
                    id="carrera" style="margin-bottom: 16px;" [(ngModel)]="carrera">

                <input type="text" class="form-control inputEdicion" placeholder="✳ Ingresa el titulo" name="titulo"
                    id="titulo" [(ngModel)]="titulo">
            </div>

            <div class="col-6" style="padding-left: 5px;">
                <div class="row">
                    <div class="col-6 paddingCero" style="padding-right: 6px; margin-top: 5px;">
                        <label for="" style="margin-left: 3px;">
                            <h6>Inicio</h6>
                        </label>
                        <input type="date" class="form-control inputEdicion" name="fechaInicio" id="fechaInicio"
                            placeholder="Ingresa fecha de Inicio" name="inicio" id="inicio" [(ngModel)]="inicio">
                    </div>

                    <div class="col-6 paddingCero" style="padding-left: 6px; margin-top: 5px;">
                        <label for="" style="margin-left: 3px;">
                            <h6>Fin</h6>
                        </label>
                        <input type="date" class="form-control inputEdicion" name="fechaFin" id="fechaFin"
                            placeholder="Ingresa fecha de Fin" name="fin" id="fin" [(ngModel)]="fin">
                    </div>

                    <input type="text" class="form-control inputEdicion" placeholder="Ingresa Url de la Institucion"
                        name="urlInstitucion" id="urlInstitucion" style="margin-top: 16px;"
                        [(ngModel)]="imgInstitucion">
                </div>
                <button class="btn btn-primary buttonSesion" style="float: right; margin-top: 16px;" type="button"
                    id="button-addon2" (click)="agregarEducacion()">Agregar
                    Educacion</button>
            </div>
        </div>
    </div>

    <!--------------------------------------------->

    <app-item-educacion *ngFor="let edu of estudio" [itemEdu]="edu" (idEducacionHijo)="capturarId($event)"
        (objEdit)="editarEducacion($event)" (objDelete)="deleteEducacion()"></app-item-educacion>

</div>