<nav>

  <a href="#" class="logoArgNav">
    <img src="https://desa.argentinaprograma.inti.gob.ar/pluginfile.php/1/theme_moove/logo/1674860780/APLogo-20-20.png"
      height="80" width="130" style="float: left;">
  </a>

  <ul class="navUl">

    <li class="liSesion">
      <button routerLink="/Contacto" aria-current="page"
        class="btn btn-primary buttonSesion" type="button">Crear Cuenta</button>
    </li>

    <li class="liSesion">
      <button routerLink="/Contacto" aria-current="page"
        class="btn btn-primary buttonSesion" type="button">Iniciar Sesion</button>
    </li>

    <li class="navLi"><a href="#" class="buttonNavRedes"><img
          src="https://cdn-icons-png.flaticon.com/512/5968/5968534.png" height="30" width="30"></a>
    </li>
    <li class="navLi"><a href="https://www.linkedin.com/in/martin-gagliardi-8180bb211/" class="buttonNavRedes"><img
          src="https://cdn-icons-png.flaticon.com/512/174/174857.png" height="30" width="30"></a>
    </li>
    <li class="navLi"><a href="https://github.com/Martin011001" class="buttonNavRedes"><img
          src="https://cdn-icons-png.flaticon.com/512/3291/3291667.png" height="34" width="34"></a>
    </li>

  </ul>




</nav>