<div class="row tarjeta">
    <div class="col-11">
        <h4>{{miPorfolio.titulo}}</h4>
        <p>
            {{miPorfolio.descripcion}}
        </p>

        <h6>Curriculum:</h6>

        <a href="https://www.canva.com/design/DAEjPozLI1c/IpmSBRUyZsI-fP5QQyktSw/view">Visitar CV en canva aqui</a>
    </div>

    <div class="col-1">
        <a class="botonEditar" style="float: right;"><img src="https://cdn-icons-png.flaticon.com/512/84/84380.png"
                height="25" width="25"></a>
    </div>

</div>