<div class="row">
    <div class="col-9 tarjeta responsiveComponents">

        <div class="row" style="margin-bottom: 10px;">

            <div class="col-11" style="padding: 0px;">
                <h4>Sobre mi</h4>
            </div>

            <!-- Button Edit -->
            <div class="col-1" style="padding: 0px;" *ngIf="this.user.vista">
                <button type="button" class="btn botonEdit" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor"
                        class="bi bi-pen botonEdit" viewBox="0 0 16 16">
                        <path
                            d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z" />
                    </svg>
                </button>
            </div>
            <!-- Button Edit -->
        </div>

        <p>
            {{miPorfolio.texto}}
        </p>

        <h6>Curriculum:</h6>

        <a class="linkCv" href="{{miPorfolio.urlCv}}"> <svg xmlns="http://www.w3.org/2000/svg"
                style="margin-bottom: 5px; margin-right: 3px;" width="20" height="20" fill="currentColor"
                class="bi bi-file-person" viewBox="0 0 16 16">
                <path
                    d="M12 1a1 1 0 0 1 1 1v10.755S12 11 8 11s-5 1.755-5 1.755V2a1 1 0 0 1 1-1h8zM4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H4z" />
                <path d="M8 10a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
            </svg>Visitar CV en canva aqui</a>
    </div>

    <div class="col colCv">
        <h4 class="tituloVistaPreviaCv">Vista previa CV</h4>
        <img [src]="miPorfolio.imageCv" width="220" height="340" class="vistaPreviaCv">
    </div>

</div>

<div class="spinner" *ngIf="loading">
    <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>

<!-------------- Alerta edicion ------------>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content ventanaEdicion">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Editar Seccion</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    style="color: white;"></button>
            </div>
            <div class="modal-body">
                <div class="row">

                    <div class="col-12">
                        <label class="labelEdicion">
                            <h6>Url del Curriculum</h6>
                        </label>
                        <input type="text" name="urlCv" id="urlCv" class="form-control inputEdicion"
                            placeholder="Ingresa la Url del Curriculum" [(ngModel)]="urlCv">
                    </div>

                    <div class="col-12" style="margin-top: 15px;">
                        <label class="labelEdicion">
                            <h6>Url imagen Cv</h6>
                        </label>
                        <input type="text" name="urlImage" id="urlImage" class="form-control inputEdicion"
                            placeholder="Ingresa la Url de la foto de tu CV" [(ngModel)]="urlImage">
                    </div>

                    <div class="col-12" style="margin-top: 15px;">
                        <label class="labelEdicion">
                            <h6>Descripción</h6>
                        </label>
                        <textarea type="text" name="descripcion" id="descripcion" class="form-control inputEdicion"
                            placeholder="Ingresa tu Descripción" [(ngModel)]="descripcion"></textarea>
                    </div>

                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary buttonSesion" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary buttonSesion"
                data-bs-dismiss="modal" (click)="guardarCambios(miPorfolio.id)">Guardar Cambios</button>
            </div>
        </div>
    </div>
</div>

<!-------------- Alerta edicion ------------>